<header>
  <span class="header-left">Kanban Project Management Tool</span>
  <div class="header-right">
    <a href="#"><img src="../../img/help.svg" alt="" /></a>
    <div class="user" onclick="openPopupMenu()">SM</div>
  </div>

  <div id="popupMenuHeader" class="popup-container d-none" onclick="closePopupMenu()">
    <div class="user-popup-menu">
      <div class="popup-menu-div"><a href="#">Help</a></div>
      <div class="popup-menu-div"><a href="#">Legal Notice</a></div>
      <div class="popup-menu-div"><a href="#">Privacy Policy</a></div>
      <div class="popup-menu-div"><a href="#">Log out</a></div>
    </div>
  </div>
</header>

<script src="./templates.js"></script>
