<nav>
  <div class="logo">
    <img src="../../img/logo_nav.svg" alt="" />
  </div>

  <div class="nav-container">
    <div class="nav-bar-container">
      <div class="nav-bar">
        <img src="../../img/summary.svg" alt="" />
        <span>Summary</span>
      </div>
    </div>
    <div class="nav-bar-container">
      <div class="nav-bar">
        <img src="../../img/add_task.svg" alt="" />
        <span>Add Task</span>
      </div>
    </div>
    <div class="nav-bar-container">
      <div class="nav-bar">
        <img src="../../img/board.svg" alt="" />
        <span>Board</span>
      </div>
    </div>
    <div class="nav-bar-container">
      <div class="nav-bar">
        <img src="../../img/contacts.svg" alt="" />
        <span>Contacts</span>
      </div>
    </div>
  </div>

  <div class="links-left">
    <a href="#">Privacy Policy</a>
    <a href="#">Legal notice</a>
  </div>
</nav>
