<nav class=""  id="navBar">
  <div class="logo">
    <img src="../../img/logo_nav.svg" alt="" />
  </div>

  <div class="nav-container" id="navContainer">
    <a class="nav-bar-container" href="../summary/summary.html" id="Summary">
      <div class="nav-bar">
        <img src="../../img/summary.svg" alt="" />
        <span>Summary</span>
      </div>
    </a>
    <a class="nav-bar-container" href="../add_task/add_task.html" id="Add Task">
      <div class="nav-bar">
        <img src="../../img/add_task.svg" alt="" />
        <span>Add Task</span>
      </div>
    </a>
    <a class="nav-bar-container" href="../board/board.html" id="Board">
      <div class="nav-bar">
        <img src="../../img/board.svg" alt="" />
        <span>Board</span>
      </div>
    </a>
    <a class="nav-bar-container" href="../contacts/contacts.html" id="Contacts">
      <div class="nav-bar">
        <img src="../../img/contacts.svg" alt="" />
        <span>Contacts</span>
      </div>
    </a>
  </div>

  <div class="links-left">
    <a class="link" href="../privacy_policy/privacy_policy.html" id="Privacy Policy">Privacy Policy</a>
    <a class="link" href="../legal_notice/legal_notice.html" id="Legal Notice">Legal notice</a>
  </div>
</nav>



<!-- <script src="../templates/templates.js"></script> -->
