/* .logo {
  position: absolute;
  top: 80px;
  left: 77px;
} */

.register_container {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
}

.back_link_area {
  position: relative;
}

.back_link {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 64px;
  left: 48px;
}

.back_link:hover {
  background-color: #eeeeee;
  border-radius: 42px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  height: 3px;
  background-color: #29abe2;
  width: 150px;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 48px 88px;
  gap: 32px;
}

.input_area {
  width: 422px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 21px;
  font-size: 20px;
  background-origin: content-box;
  background-position: center right;
  background-repeat: no-repeat;
}

.input_area::placeholder {
  color: #d1d1d1;
}

.input_area:focus {
  outline: 1px solid rgba(41, 171, 226, 1);
}

.person {
  background-image: url("../../img/person.svg");
}

.mail {
  background-image: url("../../img/mail.svg");
}

.lock {
  background-image: url("../../img/lock.svg");
}

.visibility_area_container {
  width: 100%;
  display: none;
  justify-content: flex-end;
  padding: 0 21px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  transform: translate(0, -100%);
}

.visibility_area {
  position: relative;
}

.visibility_icon {
  cursor: pointer;
}

.visibility_icon_container {
  position: absolute;
  transform: translate(0, -50%);
  /* padding-bottom: 4px; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 13px 0;
}

#password:not(:placeholder-shown) {
  background-image: none;
}
#confirmPassword:not(:placeholder-shown) {
  background-image: none;
}

#password:not(:placeholder-shown) ~ #passwordEyeIcon {
  display: flex;
}
#confirmPassword:not(:placeholder-shown) ~ #confirmPasswordEyeIcon {
  display: flex;
}

.checkbox_area {
  color: #a8a8a8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox img {
  padding-right: 4px;
}

.privacy_link {
  color: #29abe2;
  text-decoration: none;
}

.privacy_link:hover {
  transform: scale(1.1);
  text-decoration: underline;
  cursor: pointer;
}

.centered {
  display: flex;
  justify-content: center;
}

.dialog_bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.185);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sign_up_successfully_container {
  position: relative;
  bottom: -4000px;
  width: 100%;
  animation: fromBottomToCenter 800ms forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign_up_successfully {
  background-color: rgba(42, 54, 71, 1);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 20px;
  color: white;
  border-radius: 20px;
  padding: 25px;
  width: max-content;
}

@keyframes fromBottomToCenter {
  0% {
    bottom: -4000px;
  }

  100% {
    bottom: 0;
  }
}
