.content {
  padding: 0 64px;
  display: flex;
}

.visible_area {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header_board {
  display: flex;
  flex-direction: column;
  padding-top: 79.5px;
}

.header_title_input {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
}

.button_board_add_task {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
}

.input_board_find_task {
  border-radius: 10px;
  border: 1px solid rgb(168, 168, 168);
  padding: 12px 68px 12px 16px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 1);

  width: 312px;
}

.input_board_find_task:focus {
  outline: none;
  border: 1px solid rgba(41, 171, 226, 1);
}

.input_board_find_task::placeholder {
  color: rgb(209, 209, 209);
}

.input_board_find_task_button_area {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.input_board_find_task_button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 16px;
  transform: translateY(-100%);
}

.column_title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15.5px;
  gap: 26px;
}

.h2_board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: rgb(66, 82, 110);
  margin: 0;
  padding-left: 8px;
}

.board_distribution {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 26px;
}

.input_button_header {
  display: flex;
  align-items: center;
  gap: 32px;
}

.drag-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.board_plus_button {
  cursor: pointer;
}

.board_add_task {
  background-color: #ffffff;
  border-radius: 30px;
  height: 870px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header_add_task {
  display: flex;
  justify-content: space-between;
}

.h1_add_task {
  font-size: 61px;
  font-weight: 700;
}

.drag-area-highlight {
}

.board_column {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1155px) {
  .input_board_find_task {
    width: 212px;
  }
}

@media (max-width: 1188px) {
  .board_distribution {
    flex-direction: column;
  }
  .drag-area {
    flex-direction: row;
  }
  .card_small {
    width: 252px;
  }
}

@media (max-width: 1188px) {
  .header_board {
    display: none;
  }
}
