.content {
  padding: 0 64px;
  display: flex;
}

.visible_area {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header_board {
  display: flex;
  flex-direction: column;
  padding-top: 79.5px;
}

.header_title_input {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
}

.button_board_add_task {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
}

.input_board_find_task {
  border-radius: 10px;
  border: 1px solid rgb(168, 168, 168);
  padding: 12px 68px 12px 16px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 1);

  width: 312px;
}

.input_board_find_task:focus {
  outline: none;
  border: 1px solid rgba(41, 171, 226, 1);
}

.input_board_find_task::placeholder {
  color: rgb(209, 209, 209);
}

.input_board_find_task_button_area {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.input_board_find_task_button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 16px;
  transform: translateY(-100%);
}

.column_title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15.5px;
  gap: 26px;
}

.h2_board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: rgb(66, 82, 110);
  margin: 0;
  padding-left: 8px;
}

.board_distribution {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 26px;
}

.input_button_header {
  display: flex;
  align-items: center;
  gap: 32px;
}

.drag-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.board_plus_button {
  cursor: pointer;
}

.board_add_task {
  background-color: #ffffff;
  border-radius: 30px;
  height: 870px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header_add_task {
  display: flex;
  justify-content: space-between;
}

.h1_add_task {
  font-size: 61px;
  font-weight: 700;
}

.drag-area-highlight {
  /* to do */
}

.board_column {
  flex: 1 1 0px;
  width: 0;
  display: flex;
  flex-direction: column;
}

.input_board_find_task_button svg:hover {
  background-color: rgba(238, 238, 238, 1);
  border-radius: 45px;
}

.input_board_find_task_button svg:active #searchIcon {
  fill: #29abe2;
  transition: fill 200ms;
}

@media (max-width: 1170px) {
  .input_board_find_task {
    width: 212px;
  }
}

@media (min-width: 1260px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
}

@media (max-width: 1260px) {
  .board_distribution {
    flex-direction: column;
    gap: 14px;
  }
  .drag-area {
    flex-direction: row;
    max-width: 100vh;
    overflow-x: auto;
    padding: 10px;
    box-sizing: border-box;
    scrollbar-width: none;
  }
  .card_small {
    min-width: 252px;
    width: min-content;
  }
  .board_column {
    width: 100%;
  }
  .header_title_input {
    flex-direction: column;
    padding-bottom: 24px;
  }
  .button_board_add_task span {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
  .board_header_mobile {
    width: 100%;
    justify-content: space-between;
  }

  .board_search_input_desktop {
    width: 100%;
  }

  .input_board_find_task {
    width: 100%;
    box-sizing: border-box;
  }

  .content-section {
    width: 100%;
  }
  .content {
    padding: 0 16px;
  }
  .input_board_find_task {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .input_board_find_task_button {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .header_board {
    padding-top: 48px;
  }
  .board_header_mobile {
    padding-bottom: 40px;
  }
  h1 {
    font-size: 47px;
  }
  .button_board_add_task {
    padding: 3px;
  }
  .h2_board {
    font-size: 27px;
    color: rgba(42, 54, 71, 1);
    font-family: "Inter-Bold";
  }
  .column_title {
    padding-bottom: 6px;
  }
}

@media (max-width: 555px) {
  .big_card {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: 36px;
  }
  .big_card_scrollable_wrapper {
    padding: 32px 24px;
  }
  .big_card_category {
    padding: 4px 16px;
    font-size: 16px;
  }
  .big_card_content {
    font-size: 16px;
    gap: 16px;
  }
  .big_card_edit_content_area,
  .big_card_edit_title_header_priority {
    font-size: 16px;
  }

  .big_card_edit_content_area input {
    font-size: 16px;
    padding: 8px 21px;
  }
  .visibility_icon_container {
    padding: 7px;
  }
  .big_card_edit_description_textarea {
    font-size: 16px;
  }
  .button_priority {
    padding: 11px 7.5px;
    font-size: 16px;
  }
  .button {
    padding: 18px 10px;
  }
  .big_card_edit_input_area {
    gap: 8px;
  }
  .big_card_edit_content_area {
    gap: 16px;
  }
  .big_card_header {
    padding-right: 0;
  }
  .big_card_edit_ok_button {
    padding-right: 4px;
  }
}

@media (max-width: 380px) {
  .big_card_edit_priority_buttons {
    flex-direction: column;
  }
}
