.card_small {
  background-color: white;
  border-radius: 24px;
  width: 100%;
  min-height: 48px;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 24px;
  cursor: pointer;
}

.task_category {
  font-size: 16px;
  color: white;
  border-radius: 8px;
  padding: 4px 16px;
  width: fit-content;
}

.user_story_bg_color {
  background-color: rgba(0, 56, 255, 1);
}

.technical_task_bg_color {
  background-color: rgba(31, 215, 193, 1);
}

.task_header {
  font-size: 16px;
  font-weight: 700;
  color: rgba(42, 54, 71, 1);
  padding-bottom: 8px;
}

.task_description {
  font-weight: 400;
  color: rgba(168, 168, 168, 1);
}

.progress_bar {
  background-color: rgba(244, 244, 244, 1);
  border-radius: 8px;
  height: 8px;
  width: 50%;
}

.subtasks_area {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 11px;
}

.progress_bar_level {
  background-color: rgba(69, 137, 255, 1);
  width: 50%;
  height: 100%;
  border-radius: 16px;
}

.no_tasks_to_do {
  border: 1px dashed rgba(168, 168, 168, 1);
  background-color: rgba(231, 231, 231, 1);
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  color: rgba(168, 168, 168, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 100%;
}

.small_card_users_area {
  display: flex;
  justify-content: space-between;
}

.contacts_icon {
  height: 32px;
  width: 32px;
  border-radius: 45px;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.overlapped_contact_icons {
  display: flex;
}

/* big card style for the task */

.big_card_area {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big_card {
  background-color: white;
  border-radius: 30px;
  width: 525px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
}

.big_card_content {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

.big_card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big_card_category {
  padding: 4px 24px;
  border-radius: 8px;
  font-size: 23px;
  font-family: "Open Sans";
}

.close_icon {
  cursor: pointer;
}

.priority_area {
  display: flex;
  align-items: center;
  padding: 4px 18px;
}

.big_card_assigned_to_area {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.big_card_assigned_to {
  display: flex;
  align-items: center;
  padding: 7px 16px;
  gap: 16px;
}

.big_card_title {
  padding-right: 25px;
  color: rgba(42, 54, 71, 1);
}

.big_card_assigned_to_list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.pr_10 {
  padding-right: 10px;
}

.df_ac {
  display: flex;
  align-items: center;
}
