/*
|//////////////////////////////////////////////////////////|
|                                                          |
|                                                          |
|-------------------->add Task content<--------------------|
|                                                          |
|                                                          |
|//////////////////////////////////////////////////////////|
*/
.add_task {
    padding: 80px;
    max-width: 1000px;
}
.add_task span {
    color: red;
}
.main_content {
    display: flex;
    padding: 64px 0 64px 0;
}
.content_left {
    width: 50%;
    border-right: 1px solid #d1d1d1;
}
.content_right {
    width: 50%;
    padding-left: 30px;
}
.add_task_bottom {
    display: flex;
    justify-content: space-between;
}
.add_task_buttons {
    display: flex;
    gap: 16px;
}
label {
    font-size: 20px;
}
input {
    height: 48px;
    width: 90%;
    border-radius: 10px;
    border-color: #d1d1d1;
    color: #d1d1d1;
    border-style: none;
}