.header_container {
  position: relative;
  width: 100%;
}

.header_log_in_ {
  position: absolute;
  top: 67px;
  right: 8.5%;
}

.header_user_sign_up {
  display: flex;
  align-items: center;
  gap: 35px;
}

.not_user {
  font-size: 20px;
  font-weight: 400;
}

.log_in_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 48px 115px;
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  gap: 32px;
}

.log_in_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.log_in_inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.log_in_text_inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.error_area {
  padding-top: 8px;
  padding-bottom: 20px;
  height: 12px;
}

.checkbox_area {
  justify-content: flex-start;
  padding-left: 39px;
  padding-bottom: 0;
}

.button_log_in {
  cursor: pointer;
  width: 110px;
  height: 48px;
  border-radius: 8px;
  background-color: #2a3647;
  border: none;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
}

.button_log_in:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.black_font {
  color: black;
}

.button_center {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.button_guest {
  cursor: pointer;
  width: 177px;
  height: 48px;
  border-radius: 8px;
  background-color: #ffffff;
  border: none;
  font-size: 21px;
  font-weight: 700;
  border: 1px solid #2a3647;
  color: #2a3647;
}

.button_guest:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
