.header_container {
  position: relative;
  width: 100%;
}

.header_log_in_ {
  position: absolute;
  top: 67px;
  right: 8.5%;
}

.header_user_sign_up {
  display: flex;
  align-items: center;
  gap: 35px;
}

.not_user {
  font-size: 20px;
  font-weight: 400;
}

.log_in_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 48px 115px;
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  gap: 32px;
}

.log_in_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.log_in_inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.log_in_text_inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.error_area {
  padding-top: 8px;
  padding-bottom: 20px;
  height: 12px;
  color: rgba(255, 129, 144, 1);
}

.checkbox_area {
  justify-content: flex-start;
  padding-left: 39px;
  padding-bottom: 0;
}

.black_font {
  color: black;
}

.button_center {
  display: flex;
  justify-content: center;
  gap: 35px;
  box-sizing: border-box;
}

.big_logo {
  background-color: rgb(246, 247, 248);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  animation: background_intro 1000ms ease-in-out forwards;
}

.big_logo svg {
  position: relative;
  animation: logo_intro_desktop 1000ms ease-in-out forwards;
}

.mobile {
  display: none;
}

@keyframes background_intro {
  from {
  }
  to {
    background-color: rgba(246, 247, 248, 0);
    display: none;
  }
}

@keyframes logo_intro_desktop {
  0% {
    top: 33%;
    left: 33%;
    width: 33%;
    height: 33%;
  }
  100% {
    top: 7.8%;
    left: 7.5%;
    width: 101px;
    height: 122px;
    transform: translate(0%, 0%);
  }
}

@media (max-width: 1060px) {
  @keyframes logo_intro_desktop {
    0% {
      top: 33%;
      left: 33%;
      width: 33%;
      height: 33%;
    }
    100% {
      top: 4%;
      left: 9%;
      width: 101px;
      height: 122px;
    }
  }
}

@media (max-height: 670px) {
  .log_in_container {
    height: calc(100vh - 248px);
  }
}

@media (max-width: 770px) {
  .big_logo {
    background-color: rgba(42, 54, 71, 1);
  }
  .container {
    width: 90%;
    flex: none;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .header_log_in_ {
    position: static;
  }
  .footer_log_in {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: unset;
    padding: 16px 0 16px 0;
  }
  .legal_notes {
    display: flex;
    gap: 16px;
  }
  .log_in_container {
    padding: 24px;
    justify-content: center;
    width: 100%;
    transform: translate(0%, 0%);
  }
  .button_center {
    flex-direction: column;
    width: 180px;
    gap: 16px;
  }
  .log_in_form {
    align-items: center;
    width: 100%;
  }
  .input_area {
    width: 100%;
    box-sizing: border-box;
  }
  .log_in_inputs {
    width: 100%;
    gap: 0;
  }
  .logo img {
    height: 78px;
  }
  @keyframes logo_intro_desktop {
    0% {
      top: 33%;
      left: 33%;
      width: 33%;
      height: 33%;
    }
    100% {
      top: 16px;
      left: 5%;
      width: 64.56px;
      height: 78px;
    }
  }
  .logo {
    position: unset;
  }
  .logo_div_top {
    height: 80px;
    width: 90%;
    padding: 16px 0;
  }
  body {
    justify-content: space-between;
  }
  .log_in_text_inputs {
    gap: 8px;
  }
}
