.h1_contacts {
    font-size: 61px;
    font-weight: 700;
}

.h2_contacts {
    font-size: 27px;
    font-weight: 400;
    color: #2a3647;
}

.contacts_header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact_card {
    width: 410px;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 32px 24px 32px 24px;
    overflow-y: scroll;
}

.contact_button_add_new {
    display: flex;
    align-items: center;
    gap: 16px;
}
