.register_container {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
}

.back_link_area {
  position: relative;
}

.back_link {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 64px;
  left: 48px;
}

.back_link:hover {
  background-color: #eeeeee;
  border-radius: 42px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  height: 3px;
  background-color: #29abe2;
  width: 150px;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 48px 88px;
  gap: 32px;
}

.person {
  background-image: url("../../../img/person.svg");
}

#confirmPassword:not(:placeholder-shown) {
  background-image: none;
}

#confirmPassword:not(:placeholder-shown) ~ #confirmPasswordEyeIcon {
  display: flex;
}

.privacy_link {
  color: #29abe2;
  text-decoration: none;
}

.privacy_link:hover {
  transform: scale(1.1);
  text-decoration: underline;
  cursor: pointer;
}

.centered {
  display: flex;
  justify-content: center;
}

.sign_up_successfully_container {
  position: relative;
  bottom: -4000px;
  width: 100%;
  animation: fromBottomToCenter 800ms forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign_up_successfully {
  background-color: rgba(42, 54, 71, 1);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 20px;
  color: white;
  border-radius: 20px;
  padding: 25px;
  width: max-content;
}

@keyframes fromBottomToCenter {
  0% {
    bottom: -4000px;
  }

  100% {
    bottom: 0;
  }
}

@media (max-width: 1060px) {
  .logo img {
    height: 78px;
  }
}

@media (max-width: 770px) {
  .container {
    flex: none;
    width: 90%;
  }
  body {
    justify-content: space-between;
  }
  .logo {
    position: unset;
    padding-top: 30px;
  }
  .logo_div_top {
    width: 90%;
    padding: 16px 0;
  }
  form {
    padding: 32px 16px;
  }
  .back_link {
    top: 40px;
    left: 40px;
  }
  .register_container {
    width: 100%;
    flex: none;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  .footer_log_in {
    position: unset;
    padding: 32px;
  }
}


@media (max-width: 560px) {
  .container {
    width: 90%;
  }
  .register_container {
    width: 100%;
  }
  .inputs_container {
    width: 100%;
  }
  .input_area {
    width: 100%;
    box-sizing: border-box;
  }
  .visibility_area {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .back_link {
    left: 20px;
  }
}
