<div class="container">
  <nav>
    <div class="logo">
      <img src="./img/logo_nav.svg" alt="" />
    </div>

    <div class="nav">
      <div class="nav-bar">
        <img src="./img/summary.svg" alt="" />
        <span>Summary</span>
      </div>
      <div class="nav-bar">
        <img src="./img/add_task.svg" alt="" />
        <span>Add Task</span>
      </div>
      <div class="nav-bar">
        <img src="./img/board.svg" alt="" />
        <span>Board</span>
      </div>
      <div class="nav-bar">
        <img src="./img/contacts.svg" alt="" />
        <span>Contacts</span>
      </div>
    </div>

    <div class="links">
      <a href="#">Privacy Policy</a>
      <a href="#">Legal notice</a>
      <a href="#">sonstiges :O</a>
    </div>
  </nav>
  <div class="rigth-container">
    <header>
        <h1>Kanban Project Management Toll</h1>
        <div class="header-right">
            ?
            <div class="user">
                user/gast
            </div>
        </div>
    </header>
    <div class="content-div"></div>
  </div>
</div>


<link rel="stylesheet" href="../src/styles.css">