/*
|//////////////////////////////////////////////////////|
|                                                      |
|                                                      |
|-------------------->help content<--------------------|
|                                                      |
|                                                      |
|//////////////////////////////////////////////////////|
*/
.help {
    padding: 5%;
}
.help span {
    color: #29abe2;
}
.guide {
    display: flex;
    padding: 2% 0 0;
    gap: 3%;
}
.guide h3, p {
    margin-block-start: 0;
    margin-block-end: 0;
}
.number {
    font-size: 27px;
    font-weight: 700;
}
.padding-two-percent-top {
    padding: 2% 0 0;
}
.last-headline-three {
    margin-block-end: 0;
}
