@font-face {
  font-family: "Inter-Regular";
  src: url("../../assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../../assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 34px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(168, 168, 168, 1);
  border-radius: 30px;
  border: 12px solid rgb(255, 255, 255);
}

::-webkit-scrollbar-button:single-button {
  background-color: none;
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 10px;
  width: 10px;
  padding: 2px;
  background-position: center;
  background-image: url("../../assets/img/scrollbar_arrow_up.svg");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 10px;
  width: 10px;
  background-position: center;
  background-image: url("../../assets/img/scrollbar_arrow_down.svg");
}

body {
  margin: 0;
  display: flex;
  font-family: "Inter-Regular";
}

button {
  cursor: pointer;
  padding: 15px 24px;
  border-radius: 8px;
  background-color: rgba(9, 25, 49, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  font-size: 16px;
  color: #ffffff;
}

.bold_21 {
  font-size: 21px;
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

button:hover {
  background-color: rgba(41, 171, 226, 1);
}

button:disabled {
  background-color: rgba(42, 54, 71, 1);
  box-shadow: none;
  cursor: auto;
}

.button_line {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(9, 25, 49, 1);
  color: rgba(9, 25, 49, 1);
}

.button_line:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(41, 171, 226, 1);
  outline: 2px solid rgba(41, 171, 226, 1);
  outline-offset: -2px;
}

.button_line:invalid {
  border: 1px solid rgba(42, 54, 71, 1);
  box-shadow: none;
  color: rgba(42, 54, 71, 1);
  cursor: auto;
}

.button_priority {
  border-radius: 10px;
  padding: 16px 10px;
  background-color: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
  font-family: "Inter-Regular";
  font-size: 20px;
}

.button_priority:hover {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background-color: white;
}

.clicked {
  color: white;
  font-size: 21px;
  font-weight: 700;
}

.clicked img {
  filter: brightness(0) invert(1);
}

.urgent,
.urgent:hover {
  background-color: rgba(255, 61, 0, 1);
  box-shadow: none;
}

.medium,
.medium:hover {
  background-color: rgba(255, 168, 0, 1);
  box-shadow: none;
}

.low,
.low:hover {
  background-color: rgba(122, 226, 41, 1);
  box-shadow: none;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  margin: 0;
  font-family: "Inter-Bold", sans-serif;
}

.visibility_area_container {
  width: 100%;
  display: none;
  justify-content: flex-end;
  padding: 0 21px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  transform: translate(0, -100%);
}

.visibility_icon_container {
  position: absolute;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 13px 0;
}

.visibility_icon {
  cursor: pointer;
}

.visibility_icon:hover {
  background-color: rgba(238, 238, 238, 1);
  border-radius: 50px;
}

.big_card_edit_contacts_area {
  position: relative;
  width: 100%;
}

.big_card_edit_contacts {
  height: 288px;
  padding-top: 10px;
  overflow-y: auto;
  gap: 2px;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  width: 100%;
}

.big_card_edit_contacts_select {
  gap: 16px;
  width: 100%;
  padding: 7px 16px;
  box-sizing: border-box;
  border-radius: 10px;
}

.big_card_edit_contacts_select:hover {
  background-color: rgba(238, 238, 238, 1);
}

.big_card_edit_contact_clicked {
  background-color: rgba(42, 54, 71, 1);
  color: white;
}

.big_card_edit_contact_clicked:hover {
  background-color: rgba(9, 25, 49, 1);
}

.big_card_edit_assigned_to_logos {
  margin-top: 8px;
  gap: 8px;
}

.contacts_icon {
  height: 32px;
  width: 32px;
  border-radius: 45px;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.big_card_edit_contact_icons {
  height: 42px;
  width: 42px;
}

.big_card_edit_title_input {
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
  padding: 12px 21px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  box-sizing: border-box;
  font-family: "Inter-Regular";
  cursor: pointer;
}

.big_card_edit_title_input:focus {
  outline: none;
  border: 1px solid rgba(41, 171, 226, 1);
}

.big_card_edit_title_input:invalid {
  border: 1px solid rgba(255, 129, 144, 1);
}

.big_card_edit_priority_buttons {
  gap: 16px;
  display: flex;
  padding: 0 2px;
}

.big_card_edit_subtask_input_icons {
  gap: 4px;
  cursor: pointer;
}

.big_card_edit_subtask_input_icons img:hover {
  background-color: rgba(238, 238, 238, 1);
  border-radius: 50px;
}

.big_card_edit_subtask_list {
  margin: 0;
  padding-inline-start: 0;
  list-style: none;
}

#bigCardEditSubtasks li {
  margin-top: 8px;
}

#bigCardEditSubtasks li::marker {
  margin: 0;
}

.big_card_edit_subtask {
  justify-content: space-between;
  padding: 6px 16px;
  cursor: pointer;
  height: 32px;
}

.big_card_edit_subtask_icons {
  height: 25px;
}

.big_card_edit_subtask_on_edit {
  cursor: text;
  border-bottom: 1px solid rgba(0, 93, 255, 1);
  background-color: white;
}

.big_card_edit_subtask:hover {
  border-radius: 10px;
  background-color: rgba(238, 238, 238, 1);
}

.big_card_edit_subtask_on_edit:hover {
  border-radius: 0;
  background-color: white;
}

.big_card_edit_subtask_on_edit img:hover {
  cursor: pointer;
}

.big_card_edit_subtask span:focus {
  outline: none;
}

.list_bullet {
  padding-right: 8px;
}

.df_ac {
  display: flex;
  align-items: center;
}

.cursor_pointer {
  cursor: pointer;
}

.pr_10 {
  padding-right: 10px;
}

.jc {
  justify-content: center;
}

.flex_1 {
  flex: 1;
}

.flex_1_1_0px {
  flex: 1 1 0px;
}

.d_none {
  display: none;
}
