@font-face {
  font-family: "Inter-Regular";
  src: url("../../assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../../assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  font-family: "Inter-Regular";
}

button {
  cursor: pointer;
  padding: 15px 24px;
  border-radius: 8px;
  background-color: rgba(9, 25, 49, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  font-size: 16px;
  color: #ffffff;
}

.bold_21 {
  font-size: 21px;
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

button:hover {
  background-color: rgba(41, 171, 226, 1);
}

button:disabled {
  background-color: rgba(42, 54, 71, 1);
  box-shadow: none;
  cursor: auto;
}

.button_line {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(9, 25, 49, 1);
  color: rgba(9, 25, 49, 1);
}

.button_line:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(41, 171, 226, 1);
  outline: 2px solid rgba(41, 171, 226, 1);
  outline-offset: -2px;
}

.button_line:invalid {
  border: 1px solid rgba(42, 54, 71, 1);
  box-shadow: none;
  color: rgba(42, 54, 71, 1);
  cursor: auto;
}

.button_priority {
  border-radius: 10px;
  padding: 16px 10px;
  background-color: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
  font-family: "Inter-Regular";
  font-size: 20px;
}

.button_priority:hover {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background-color: white;
}

.clicked {
  color: white;
  font-size: 21px;
  font-weight: 700;
}

.clicked img {
  filter: brightness(0) invert(1);
}

.urgent,
.urgent:hover {
  background-color: rgba(255, 61, 0, 1);
  box-shadow: none;
}

.medium,
.medium:hover {
  background-color: rgba(255, 168, 0, 1);
  box-shadow: none;
}

.low,
.low:hover {
  background-color: rgba(122, 226, 41, 1);
  box-shadow: none;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  margin: 0;
  font-family: "Inter-Bold", sans-serif;
}

.visibility_area_container {
  width: 100%;
  display: none;
  justify-content: flex-end;
  padding: 0 21px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  transform: translate(0, -100%);
}

.visibility_icon_container {
  position: absolute;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 13px 0;
}

.visibility_icon {
  cursor: pointer;
}

.df_ac {
  display: flex;
  align-items: center;
}

.cursor_pointer {
  cursor: pointer;
}

.d_none {
  display: none;
}
