/*
|/////////////////////////////////////////////////////////|
|                                                         |
|                                                         |
|-------------------->summary content<--------------------|
|                                                         |
|                                                         |
|/////////////////////////////////////////////////////////|
*/
.summary {
    padding: 5%;
    height: 80%;
}
/*
|//////////////////////////////////////////////////|
|                                                  |
|                                                  |
|-------------------->Headline<--------------------|
|                                                  |
|                                                  |
|//////////////////////////////////////////////////|
*/
.summary-headline {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 625px;
    height: 73px;
}
.summary-headline h2 {
    font-weight: 700;
    font-size: 61px;
    margin: 0 0;
}
.summary-headline p {
    font-size: 27px;
    font-weight: 400;
    margin: 0 0;
}
.headline-decoration {
    height: 59px;
    width: 3px;
    background-color: #29abe2;
}
.summary-content {
    padding-top: 30px;
    height: 84%;
    display: flex;
    justify-content: space-between;
}
/*
|//////////////////////////////////////////////////////////|
|                                                          |
|                                                          |
|-------------------->content box left<--------------------|
|                                                          |
|                                                          |
|//////////////////////////////////////////////////////////|
*/
.summary-content-left {
    display: flex;
    width: 560px;
    flex-direction: column;
    justify-content: space-between; 
}
.content-box {
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.summary-content-left-top {
    display: flex;
    justify-content: space-between;
    height: 30%;
}
.summary-content-left-top-div {
    display: flex;
    gap: 18px;
    width: 47%;
}
.content-number {
    font-size: 64px;
    font-weight: 600;
}
.summary-content-left-top-div span {
    text-align: center;
}
.description {
    font-size: 20px;
    font-weight: 400;
}
.todo {
    display: flex;
    flex-direction: column;
}



















.summary-content-left-mid {
    height: 30%;
}
.summary-content-left-bot {
    height: 30%;
    display: flex;
    justify-content: space-between;
}
.summary-content-left-bot-div {
    width: 30%;
}